body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
}

#logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

h1 {
    margin: 0;
}

.botoes {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.botoes button {
    background-color: #007BFF;
    color: white;
    border: none;
    margin: 0 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}

.botoes button img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

.dados-da-venda, .itens-da-venda {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form label {
    display: block;
    margin-top: 10px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
form .input-group {
    display: flex;
    align-items: center;
}

form img {
    width: 20px;
    height: 20px;
    position: relative;
    top: -36px;
    left: 90%;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
